.item img {
  margin-top: 5.5em;
  opacity: 1;
}

.details{
  bottom: 0px;
}

.titoloProgetto, .linkProgetto{
  display: block;
  float: none;
  text-align: center;
  margin: 0px;
  font-size: 1.1em;
  max-width: 100%;
}
