/* menu*/

@media screen and (max-width: 600px) {

    nav a
    {
        font-size: 2em;
    }

    nav
    {
        height: 9em;
    }

}

@media screen and (max-width: 550px) {
    nav
    {
        height: 8em;
    }

}




/* fine menu*/

/* titolo matteo granzotto*/
@media screen and (max-width: 810px) {
    .header-titolo h1
    {
        font-size: 2em;
        line-height: 2.2em;
    }
    .header-titolo h2
    {
        font-size: 1em;
        line-height: 1.2em;
    }
}

@media screen and (max-width: 550px) {
    #bottone-menu
    {
        width: 100%;
    }
    .header-titolo
    {
        width: 100%;
        text-align: center;
    }

}

/* fine titolo matteo granzotto*/

/*header*/

@media screen and (max-height: 800px) and (min-width: 480px) {

}

@media screen and (max-height: 700px) and (min-width: 480px) {

}

@media screen and (max-height: 350px) {

}

/*fine header*/
