/*scrool*/
section{
  margin-top: 4em;
  overflow: auto;
  display: block;
}

.pics{
  width: 100%;
  height: 100%;
  display: block;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: inherit;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

.feed {
  float: left;
}

.item {
  width: 25%;
  height: auto;
  float: left;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-image: url("../images/utily/loader.gif");
  background-repeat: no-repeat;
  background-position: 50%;
}

.item img {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  -webkit-filter: blur(0px);
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
}


.details{
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background: #ffffff;
  transition: bottom 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: bottom 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: bottom 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: bottom 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.details::after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255,255,255,0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}

.group-li{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: inherit;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

/*fullscreen*/

.riferimento
{
  position:fixed;
  width:100%;
  height:100%;
  z-index:-10000;
  top:0px;
}

.fullscreen{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
  text-align: center;
  top:0px;
}

.img-fullscreen{
  margin-top: 2em;
  margin-bottom: 1em;
}

.chiudi{
  height: 30px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.99);
  z-index: 101;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}

.chiudi span, .chiudi span:before, .chiudi span:after
{
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 30px;
    background: #000;
    position: absolute;
    display: block;
    content: '';
    margin-top: 5px;
}
.chiudi span:before
{
    top: 5px;
}

.chiudi span:after
{
    bottom: -10px;
}

.chiudi span
{
    background-color: transparent;
}

.chiudi span:before
{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.chiudi span:after
{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.loading
{
    margin-top: 1.5em;
    height: 64px;
    width: 64px;
}
