/*STILE MAIN*/


.fascia
{
    position: relative;
    display: block;
    background-color: #d9dbc8;
    padding-top: 2em;
    padding-bottom: 2em;
    overflow: auto;
}

.copertina
{
    width: 90%;
    background-image: url("../images/bio_copertina.jpg");
    background-size: cover;
    background-position: 100%;
    text-align: center;
    color: #fff;
    z-index: -1;
    margin-left: 5%;
    background-repeat: no-repeat;
    margin-top: 1em;
}

#icona-fb {
    background-image: url("https://s3.amazonaws.com/f.cl.ly/items/1e23241I2q0o2v0n172u/icona_nera.png");
}

#icona-t {
    background-image: url("https://s3.amazonaws.com/f.cl.ly/items/113X090c1g0U0R0j3C0i/icona_nera_t.png");
}

#icona-g {
    background-image: url("https://s3.amazonaws.com/f.cl.ly/items/1S2f0W2o3V2E0l1Y3S2x/icona_nera_g%2B.png");
}

#icona-l {
    background-image: url("https://s3.amazonaws.com/f.cl.ly/items/1a0r1I3a1c0Q3C3Q1D2M/icona_nera_l.png");
}

.intro{
  background-color: #000000;
  color: #fff;
  margin: auto;
  padding: 2em;
  width: 80%;
}

.intro h2{
  padding-bottom: 1em;
  text-align: center;
}

.intro a {
  color: #fff;
}

.intro span
{
  font-size: 1.3em;
  line-height: 1.5em;
}

.social {
  overflow: auto;
  height: 100%;
  margin-left: 2%;
}

.social li{
  width: 24%;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.social a{
  height: 100%;
  width: 100%;
  display: block;
}

.contenitore-1280{
  margin-bottom: 0px;
}

.social-h2{
  padding: 0.5em;
  text-align: center;
}
