<div class="content">
  <div class="badgescard-top"> 
    <span class="tooltip-container">		
      <a href="https://www.facebook.com/Blundert"><span class="fa fa-facebook-official hide-on-small"></span></a>
      <span class="tooltip tooltip-top tooltip-p">
        Facebook
      </span>
    </span>

    <span class="tooltip-container"> 		
      <a href="https://twitter.com/Blundert"><span class="fa fa-twitter"></span></a>
      <span class="tooltip tooltip-top tooltip-p">
        Twitter
      </span>
    </span>

    <span class="tooltip-container">		
      <a href="https://www.linkedin.com/in/matteogranzotto"><span class="fa fa-linkedin"></span></a>
      <span class="tooltip tooltip-top tooltip-p">
        LinkedIn
      </span>
    </span>

    <span class="tooltip-container">		
      <a href="https://www.instagram.com/blunderttt/"><span class="fa fa-instagram hide-on-small"></span></a>
      <span class="tooltip tooltip-top tooltip-p">
        Instagram
      </span>
    </span>

    <span class="tooltip-container">		
      <a href="https://github.com/Blundert"><span class="fa fa-github"></span></a>
      <span class="tooltip tooltip-top tooltip-p">
        Github
      </span>
    </span>

    <span class="tooltip-container">		
      <a href="https://medium.com/@Blundert"><span class="fa fa-medium"></span></a>
      <span class="tooltip tooltip-top tooltip-p">
        Medium
      </span>
    </span>  
    
  </div>
  <div class="card">
    <div class="firstinfo">
      <img src="/assets/images/me.jpg"/>
      
      <div class="pulse"></div>
      
      <div class="profileinfo">
        <a href="http://www.matteogranzotto.com"><h1>Matteo Granzotto</h1></a>
        <h3>Frontend Developer</h3>
        <p class="bio">Frontend Developer at Moku. Consultant at Finantix. Comics lover.</p>
      </div>
    </div>
  </div>
  <div class="badgescard-bottom"> 
    
    <span class="tooltip-container">		
      <span class="devicons devicons-git"></span>
      <span class="tooltip tooltip-p">
        Git
      </span>
    </span>

    <span class="tooltip-container">		
      <span class="devicons devicons-codepen hide-on-medium"></span>
      <span class="tooltip tooltip-p">
        CodePen
      </span>
    </span>

    <span class="tooltip-container">		
      <span class="devicons devicons-html5"> </span>
      <span class="tooltip tooltip-p">
        HTML5
      </span>
    </span>

    <span class="tooltip-container">		
      <span class="devicons devicons-javascript"></span>
      <span class="tooltip tooltip-p">
        Javascript
      </span>
    </span>

    <span class="tooltip-container">		
      <span class="devicons devicons-gulp hide-on-medium"></span>
      <span class="tooltip tooltip-p">
        Gulp.js
      </span>
    </span>

    <span class="tooltip-container">		
      <span class="devicons devicons-angular"></span>
      <span class="tooltip tooltip-p">
        Angular.js
      </span>
    </span>

    <span class="tooltip-container">		
      <span class="devicons devicons-sass hide-on-medium"> </span>
      <span class="tooltip tooltip-p">
        Sass
      </span>
    </span>

    <span class="tooltip-container">		
      <span class="devicons devicons-css3_full"></span>
      <span class="tooltip tooltip-p">
        CSS3
      </span>
    </span>

    <span class="tooltip-container">		
      <span class="devicons devicons-react hide-on-medium"></span>
      <span class="tooltip tooltip-p">
        React.js
      </span>
    </span>

    <span class="tooltip-container">		
      <span class="devicons devicons-nodejs_small hide-on-medium"></span>
      <span class="tooltip tooltip-p">
        Node.js
      </span>
    </span>

    <span class="tooltip-container">		
      <span class="devicons devicons-jquery"> </span>
      <span class="tooltip tooltip-p">
        jQuery
      </span>
    </span>

  </div>
</div>